/* Error: expected ")".
 *    ,
 * 18 |     palette: 
 *    |            ^
 *    '
 *   sass\utils\_maps.scss 18:12  @import
 *   sass\main.scss 3:13          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 18 \2502      palette: \d\a    \2502             ^\a    \2575 \a   sass\\utils\\_maps.scss 18:12  @import\a   sass\\main.scss 3:13          root stylesheet';
}
