@charset "UTF-8";
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes ptsusp {
  0%, 100% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: ". .";
  }
  75% {
    content: ". . .";
  }
}
body {
  margin: 30px;
}

.bloc_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px;
  margin: 40px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: content-box;
}

.article {
  border: solid 4px rgba(232, 239, 240, 0.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 45vw;
  margin: 30px;
  padding: 30px;
}
.article-chic--titre a {
  background-color: #f8eff4;
  position: relative;
  z-index: 1;
}
.article-chic--titre a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(90deg, #d8852e 10%, #905bfd 80%);
  content: "";
  mix-blend-mode: lighten;
}
.article-delice--titre a {
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
}
.article-delice--titre a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(90deg, #0431de 10%, #72b8f5 80%);
  content: "";
  mix-blend-mode: lighten;
}
.article-palette--titre a {
  background-color: #fdfffd;
  position: relative;
  z-index: 1;
}
.article-palette--titre a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(90deg, #42973c 10%, #bfff7e 80%);
  content: "";
  mix-blend-mode: lighten;
}

article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px 20px;
  transform: scale(1);
  opacity: 1;
  transition: all 1s cubic-bezier(0.65, 0.13, 0.2, 0.81);
  font-size: 2rem;
}
article div:hover {
  transform: scale(1.5);
  opacity: 0.3;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "perspective_sansregular";
  src: url("persans-webfont.eot");
  src: url("persans-webfont.eot?#iefix") format("embedded-opentype"), url("persans-webfont.woff2") format("woff2"), url("persans-webfont.woff") format("woff"), url("persans-webfont.ttf") format("truetype"), url("persans-webfont.svg#perspective_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
header, footer, .proch, .titre-menu {
  font-family: "perspective_sansregular", Arial, Helvetica, sans-serif;
}

.article-chic--titre, .article--text-chic {
  font-family: "Redressed", cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.page-chic_plat {
  font-family: "Redressed", cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.article-note, .page-menu_note {
  font-family: "Merienda One", cursive;
}

.page-note_plat, .article-note--menu {
  font-family: "Kalam", cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.article-delice, .page-menu_delice {
  font-family: "Marck Script", cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.article-palette, .page-menu_palette {
  font-family: "Architects Daughter", cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.page-palette_plat {
  font-family: "Merienda", cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.page-menu {
  font-size: 1.5em;
}

.article--text-delice, .article--text-palette {
  font-size: 2em;
}

.article-chic {
  background-color: #f8eff4;
}

.article-delice {
  background-color: #f9f9f9;
}
.article-delice--menu {
  color: #0887fb;
}

.article-note {
  background-color: #fcdfdb;
}
.article-note i {
  background-color: #fcdfdb;
  position: relative;
}
.article-note i::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.73) 0%, rgba(213, 146, 34, 0.8) 80%);
  mix-blend-mode: lighten;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.article-note--titre a {
  color: black;
}
.article-note--menu {
  font-weight: bolder;
}

.article-palette {
  background-color: #fdfffd;
}
.article-palette--menu {
  color: #72bf56;
}

.proch {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

.proch--text {
  background-color: #00806f;
  color: #f8c10a;
  font-size: 1.5rem;
  border-radius: 7px;
  text-align: center;
  padding: 8px 25px;
  display: inline-block;
  margin: auto;
  min-width: 10vw;
}
.proch--text span::after {
  font-size: 1.1em;
  animation: ptsusp steps(1, start) 2s infinite;
  content: "...";
}

footer {
  background-color: #00806f;
  position: fixed;
  bottom: 0;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 20px 40px;
  margin: 40px auto 0 auto;
}

footer div:hover {
  animation: wiggle 150ms ease-in-out 8 alternate both;
}
footer div a {
  color: #f8c10a;
}

header {
  background-color: #00806f;
  color: #f8c10a;
  text-align: center;
  width: 80vw;
  margin: auto;
  padding: 5px 40px;
}

.page-menu {
  box-sizing: content-box;
  border: solid 4px rgba(232, 239, 240, 0.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
}

.titre-menu {
  text-align: center;
}

h3 {
  text-align: center;
}

table {
  width: 100%;
  line-height: 3.5rem;
  padding: 50px 20px;
}
table tr {
  padding: 30px 10px;
}

.prix {
  text-align: right;
  min-width: 50px;
}

.article--text {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bolder;
  padding: 50px 30px;
}
.article--text-chic {
  background-color: #f8eff4;
  position: relative;
}
.article--text-chic::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(to right, #d8852e, #905bfd 80%);
  content: "";
  mix-blend-mode: lighten;
}
.article--text-delice {
  background-color: #f9f9f9;
  position: relative;
}
.article--text-delice::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(to right, #0431de, #72b8f5 80%);
  content: "";
  mix-blend-mode: lighten;
}
.article--text-palette {
  background-color: #fdfffd;
  position: relative;
}
.article--text-palette::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(to right, #42973c, #bfff7e 80%);
  content: "";
  mix-blend-mode: lighten;
}

.page-menu--titre-plat {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.page-menu_note {
  background-color: #fcdfdb;
}
.page-menu_note i {
  background-color: #fcdfdb;
  position: relative;
}
.page-menu_note i::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.73) 0%, rgba(213, 146, 34, 0.8) 80%);
  mix-blend-mode: lighten;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-note--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-note--text-bas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.8rem;
}
.article-note--text-bas i {
  margin-right: 8px;
}

.page-note_plat {
  font-weight: 100;
}
.page-note_plat .note_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.page-note_plat .note_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: black;
  left: 0;
}
.page-note_plat .note_h3:hover:before {
  width: 100%;
  opacity: 1;
}
.page-note_plat .note_ligne-droite, .page-note_plat .note_ligne-gauche {
  height: 8px;
  flex-grow: 1;
  background-color: black;
  margin: 20px;
  border-radius: 30%;
}

.page-menu_chic {
  background-color: #f8eff4;
}

.page-chic_entrée {
  color: #d8852e;
}

.page-chic_milieu {
  color: #ca5bfd;
}

.page-chic_dessert {
  color: #905bfd;
}

.chic_plat_ligne-droite {
  height: 8px;
  flex-grow: 1;
  background-color: #ca5bfd;
  margin: 20px;
  border-radius: 10% 20% 80%/80% 20%;
}

.chic_plat_ligne-gauche {
  height: 8px;
  flex-grow: 1;
  background-color: #ca5bfd;
  margin: 20px;
  border-radius: 80% 20%/80% 50% 10%;
}

.chic_dessert_ligne-droite {
  height: 8px;
  flex-grow: 1;
  background-color: #905bfd;
  margin: 20px;
  border-radius: 10% 20% 80%/80% 20%;
}

.chic_dessert_ligne-gauche {
  height: 8px;
  flex-grow: 1;
  background-color: #905bfd;
  margin: 20px;
  border-radius: 80% 20%/80% 50% 10%;
}

.chic_entrée_ligne-droite {
  height: 8px;
  flex-grow: 1;
  background-color: #d8852e;
  margin: 20px;
  border-radius: 10% 20% 80%/80% 20%;
}

.chic_entrée_ligne-gauche {
  height: 8px;
  flex-grow: 1;
  background-color: #d8852e;
  margin: 20px;
  border-radius: 80% 20%/80% 50% 10%;
}

.chic_entrée_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.chic_entrée_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: #d8852e;
  left: 0;
}
.chic_entrée_h3:hover:before {
  width: 100%;
  opacity: 1;
}

.chic_plat_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.chic_plat_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: #ca5bfd;
  left: 0;
}
.chic_plat_h3:hover:before {
  width: 100%;
  opacity: 1;
}

.chic_dessert_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.chic_dessert_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: #905bfd;
  left: 0;
}
.chic_dessert_h3:hover:before {
  width: 100%;
  opacity: 1;
}

.page-menu_delice {
  background-color: #f9f9f9;
}

.delice_plat_ligne-droite {
  height: 8px;
  flex-grow: 1;
  background-color: #6076cc;
  margin: 20px;
  border-radius: 10% 50% 80% 10%/20% 0% 80% 10%;
}

.delice_plat_ligne-gauche {
  height: 8px;
  flex-grow: 1;
  background-color: #6076cc;
  margin: 20px;
  border-radius: 50% 20% 10% 80%/0% 10% 10% 80%;
}

.delice_dessert_ligne-droite {
  height: 8px;
  flex-grow: 1;
  background-color: #72b8f5;
  margin: 20px;
  border-radius: 10% 50% 80% 10%/20% 0% 80% 10%;
}

.delice_dessert_ligne-gauche {
  height: 8px;
  flex-grow: 1;
  background-color: #72b8f5;
  margin: 20px;
  border-radius: 50% 20% 10% 80%/0% 10% 10% 80%;
}

.delice_entrée_ligne-gauche {
  height: 8px;
  flex-grow: 1;
  background-color: #0431de;
  margin: 20px;
  border-radius: 50% 20% 10% 80%/0% 10% 10% 80%;
}

.delice_entrée_ligne-droite {
  height: 8px;
  flex-grow: 1;
  background-color: #0431de;
  margin: 20px;
  border-radius: 10% 50% 80% 10%/20% 0% 80% 10%;
}

.delice_entrée_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.delice_entrée_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: #0431de;
  left: 0;
}
.delice_entrée_h3:hover:before {
  width: 100%;
  opacity: 1;
}

.delice_plat_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.delice_plat_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: #6076cc;
  left: 0;
}
.delice_plat_h3:hover:before {
  width: 100%;
  opacity: 1;
}

.delice_dessert_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.delice_dessert_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: #72b8f5;
  left: 0;
}
.delice_dessert_h3:hover:before {
  width: 100%;
  opacity: 1;
}

.page-menu_palette {
  background-color: #fdfffd;
}

.article-palette--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-palette_plat {
  font-weight: 100;
}

.palette_h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.6s ease-in-out;
  position: relative;
}
.palette_h3:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 0 0;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color: #72bf56;
  left: 0;
}
.palette_h3:hover:before {
  width: 100%;
  opacity: 1;
}

.palette_ligne-droite {
  height: 8px;
  background: linear-gradient(to left, #42973c, #bfff7e);
  margin: 20px;
  flex-grow: 1;
  border-radius: 50% 20% 20% 50%;
}

.palette_ligne-gauche {
  height: 8px;
  background: linear-gradient(to right, #42973c, #bfff7e);
  margin: 20px;
  flex-grow: 1;
  border-radius: 20% 50% 50% 20%;
}

/*# sourceMappingURL=style.css.map */
