@charset "UTF-8";
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes ptsusp {
  0%, 100% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: ". .";
  }
  75% {
    content: ". . .";
  }
}
body {
  margin: 30px;
}

.bloc_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px;
  margin: 40px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.article {
  border: solid 4px rgba(232, 239, 240, 0.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 45vw;
  margin: 30px;
  padding: 30px;
}
.article-chic--titre a {
  background-image: linear-gradient(90deg, #d8852e 10%, #905bfd 80%);
  color: transparent;
  background-clip: text;
}
.article-delice--titre a {
  background-image: linear-gradient(90deg, #0431de 10%, #72b8f5 80%);
  color: transparent;
  background-clip: text;
}
.article-palette--titre a {
  background-image: linear-gradient(90deg, #42973c 10%, #bfff7e 80%);
  color: transparent;
  background-clip: text;
}

article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px 20px;
  transform: scale(1);
  opacity: 1;
  transition: all 1s cubic-bezier(0.65, 0.13, 0.2, 0.81);
  font-size: 2rem;
}
article div:hover {
  transform: scale(1.5);
  opacity: 0.3;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "perspective_sansregular";
  src: url("persans-webfont.eot");
  src: url("persans-webfont.eot?#iefix") format("embedded-opentype"), url("persans-webfont.woff2") format("woff2"), url("persans-webfont.woff") format("woff"), url("persans-webfont.ttf") format("truetype"), url("persans-webfont.svg#perspective_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "perspective_sansregular", Arial, Helvetica, sans-serif;
}

.article-chic--titre {
  font-family: "Redressed", cursive;
  font-weight: 400;
}

.article-chic {
  background-color: #f8eff4;
}
.article-chic--menu {
  color: #c77412;
}

.article-delice {
  background-color: #f9f9f9;
}
.article-delice--menu {
  color: #0887fb;
}

.article-note {
  background-color: #fcdfdb;
}
.article-note i {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.73) 0%, rgba(213, 146, 34, 0.8) 80%);
  color: transparent;
  background-clip: text;
}
.article-note--titre a {
  color: black;
}

.article-palette {
  background-color: #fdfffd;
}
.article-palette--menu {
  color: #72bf56;
}

.proch {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

.proch--text {
  background-color: #00806f;
  color: #f8c10a;
  border-radius: 7px;
  text-align: center;
  padding: 8px 25px;
  display: inline;
  margin: auto;
}
.proch--text span::after {
  font-size: 1.1em;
  animation: ptsusp steps(1, start) 2s infinite;
  content: "";
}

footer {
  background-color: #00806f;
  color: #f8c10a;
  position: fixed;
  bottom: 0;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 20px 40px;
  margin: 40px auto 0 auto;
}

footer div:hover {
  animation: wiggle 150ms ease-in-out 8 alternate both;
}

header {
  background-color: #00806f;
  color: #f8c10a;
  text-align: center;
  width: 80vw;
  margin: auto;
  padding: 5px 40px;
}

.page-menu {
  border: solid 4px rgba(232, 239, 240, 0.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
}

.titre-menu {
  text-align: center;
}

h3 {
  text-align: center;
}

table {
  width: 100%;
  line-height: 3.5rem;
  padding: 50px 20px;
}
table tr {
  padding: 30px 10px;
}

.prix {
  text-align: right;
  min-width: 50px;
}

.article--text {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  padding: 50px 30px;
}
.article--text-chic {
  background-image: linear-gradient(90deg, #d8852e 12%, #905bfd 80%);
  color: transparent;
  background-clip: text;
}
.article--text-delice {
  background-image: linear-gradient(90deg, #0431de 12%, #72b8f5 80%);
  color: transparent;
  background-clip: text;
}
.article--text-palette {
  background-image: linear-gradient(90deg, #42973c 12%, #bfff7e 80%);
  color: transparent;
  background-clip: text;
}

.page-menu_note {
  background-color: #fcdfdb;
}
.page-menu_note i {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.73) 0%, rgba(213, 146, 34, 0.8) 80%);
  color: transparent;
  background-clip: text;
}

.article-note--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-note--text-bas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.8rem;
}
.article-note--text-bas i {
  margin-right: 8px;
}

.page-menu_chic {
  font-family: "Redressed", cursive;
  font-size: x-large;
  background-color: #f8eff4;
}

.page-chic_entrée {
  color: #d8852e;
}

.page-chic_milieu {
  color: #ca5bfd;
}

.page-chic_dessert {
  color: #905bfd;
}

/*# sourceMappingURL=style.css.map */
