

.proch {
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
}

.proch--text {
	background-color: $bg-logo;
	color: $text-logo;
	font-size: 1.5rem;
	border-radius: 7px;
	text-align: center;
	padding: 8px 25px;
	display: inline-block;
	margin: auto;
	min-width: 10vw;
	& span {
		&::after {
			font-size: 1.1em;
			animation: ptsusp steps(1, start) 2s infinite;
			content: "...";
		}
	}
}

