

footer {
	box-sizing: border-box;
	background-color: $bg-logo;
	position: fixed;	
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	height: 20px;
	padding: 20px 40px 40px 40px;
	margin: 40px 0 0 0;
}

footer div {
	&:hover {
		animation: wiggle 150ms ease-in-out 8 alternate both;
	}
	a {
		color: $text-logo;
	}
}

