body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 25px;
}

header
{
	border: solid 2px;/* pour voir effet*/
	text-align: center;
}
section
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
article
{
	border: solid 2px;/* pour voir effet*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 400px;
	margin: 30px;
}
article div
{
	border: solid red 5px;/* pour voir effet*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.proch
{
	text-align: center;
	padding: 10px;
}
#prochainement
{
	
	border-radius: 15%;
	text-align: center;
	
	padding: 8px;
	display: inline;
	background-color: pink;
	margin: auto;
}
footer
{
	
	width: 100%;
	border: solid 2px;/* pour voir effet*/
	display: flex;
	justify-content: space-between;
	height: 20px;
	padding: 5px 40px;
}
