
body
    { 
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .bloc_page
    {
        
        display: flex;
        flex-direction: column;
        justify-content: center;        
        padding: 10px 25px;
        margin: 40px;        
    }
    
    section
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        box-sizing: content-box;
    }
    .article
    {
        // isolation: isolate;
        border: solid 4px rgba(232, 239, 240,0.6);
        border-radius: 8px;
        display: flex;
        // box-sizing: content-box;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $width;
        height: $height;
        margin: 30px;
        padding: 30px;
        @include gradient-text ($col-text);
        @media screen and (max-width:879px) {
            width: $media-width;
            height: $media-height;
        }
       
    }
    article div
    {
        // flex-wrap: wrap;
        width: 70%;
        text-align: center;
        display:block;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 50px 20px;
        @include fondu-zoom;
        font-size: 2rem;
    }
    a
    {
        text-decoration: none;
    }
    
    