.page-menu{   
    box-sizing: content-box;
    border: solid 4px rgba(232, 239, 240,0.6);
     border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
        margin: 30px;
        padding: 30px;
}

.titre-menu{
    text-align: center;
}
h3 {    
    text-align: center;
}
table {   
    width: 100%;
    line-height: 3.5rem;
    padding: 50px 20px;
    tr{
        padding: 30px 10px;
    }
}
.prix {
    text-align: right;    
    min-width: 50px;    
}
.article--text {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    padding: 50px 30px;
    @include gradient-text-menu ($col-text);
}
.page-menu--titre-plat {
    display:inline-flex;
    
    justify-content: center;
}