

body {
	box-sizing: border-box;
	margin: 0 ;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	overflow-x: hidden;
}

.bloc_page {
	box-sizing: border-box;	
	display: flex;
	flex-direction: column;
	justify-content: center;	
	margin: 0;
}

.section {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	margin: auto;	
}

.article {
	box-sizing: border-box;
	border: solid 4px rgba(232, 239, 240, 0.6);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: $width;
	max-width: 400px;	
	max-height: 55vh;
	margin: 30px;
	padding: 30px;
	@include gradient-text ($col-text);
}

article div {
	width: 70%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 50px 20px;
	@include fondu-zoom;
}

a {
	text-decoration: none;
}

h4 {
	margin-top: 0em;
}

