@font-face {
    font-family: 'perspective_sansregular';
    src: url('persans-webfont.eot');
    src: url('persans-webfont.eot?#iefix') format('embedded-opentype'),
         url('persans-webfont.woff2') format('woff2'),
         url('persans-webfont.woff') format('woff'),
         url('persans-webfont.ttf') format('truetype'),
         url('persans-webfont.svg#perspective_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
header, footer {
    font-family: 'perspective_sansregular', Arial, Helvetica, sans-serif;
}
.article-chic--titre {
    font-family: 'Redressed', cursive;
    font-weight: 400;
}
.article-note,.page-menu_note {
    font-family: 'Merienda One', cursive;
} 
.page-note_plat, .article-note--menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
