.page-menu_chic {
    // font-family: 'Redressed', cursive;
    // font-size: x-large;
    background-color: $bg-chic;
}
.page-chic_entrée{
    color: $color-titre-start-chic;
}
.page-chic_milieu{
    color: $color-titre-middle-chic;
}
.page-chic_dessert{
    color: $color-titre-end-chic;
}