.page-note
{
    background-color: $bg-note;
    // display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     margin: 0;
    //     padding: 50px 20px;        
    //     font-size: 2rem;
    border: solid 4px rgba(232, 239, 240,0.6);
     border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: ;
        // height: $height;
        margin: 30px;
        padding: 30px;

        i {
        background-image: linear-gradient(90deg,rgba(255,0,0,0.73) 0%, rgba(213,146,34,0.8) 80%);
        color: transparent;
        background-clip: text;
        }
}
.titre-menu{
    text-align: center;
}
.article-note--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-note--text-bas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    i {
        margin-right: 8px;
    }
}