@keyframes wiggle{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(30px);
    }
}
@keyframes ptsusp {
    0%, 100% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: ". .";
    }
    75% {
        content: ". . .";
    }
}