@media screen and (max-width: 879px) {
    body{
        margin-top: 0px !important;        
    }
    .bloc_page {
        margin-top: 0px !important;
        // font-size: 0.6rem;
        padding-top: 0px;
    }
    .article {
        width: $media-width;
        height: $media-height;
    }
    footer div {
        font-size: 1rem;
    }
    .proch--text {
        font-size: 1rem ;
    }
  }

@media screen and (max-width: 1000px) {
    .bloc_page {
        font-size: 0.8rem !important;
    }
    .article--text-delice, .article--text-palette {
        font-size: 2.8rem;    
    }
    }

@media screen and (min-width:879px) and (max-width:1000px), (max-width:460px) {
    article div {
        @include fondu-zoom-small;
        // font-size: 1.1rem !important;
    }
    .page-menu {
        font-size: 1.1rem;
    }
}  

