@mixin fondu-zoom {
    transform: scale(1);
    opacity: 1;
    transition: all 1s cubic-bezier(.65,.13,.2,.81);
    &:hover{
        transform: scale(1.5);
        opacity: 0.3;
    }
}
@mixin underline {
    
}

// @mixin gradient-text ($col-text) 
// {    
//     @each $key, $value in $col-text
//      {
//         &-#{$key}--titre a
//         {
//             background-image: linear-gradient(90deg, map-get($value, start) 10%, map-get($value, end) 80%);
//             color:transparent;
//             background-clip: text; 
//         }
          
//     }
      
// }
@mixin gradient-text ($col-text) 
{    
    @each $key, $value in $col-text
     {
        &-#{$key}--titre a
        {
            background-image: linear-gradient(90deg, map-get($value, start) 10%, map-get($value, end) 80%);
            color:transparent;
            background-clip: text; 
        }
          
    }
      
}
// test
// @mixin gradient-text ($col-text) 
// {

//     @each $key, $value in $col-text
//     {
//         &-#{$key}--titre a
//         {
//             // color: black;
//             background-color: map-get($value, bg);
//             position: relative;
//                 &::before {
//                 position: absolute;
//                 top: 0;
//                 right: 0;
//                 bottom: 0;
//                 left: 0;
//                 display: block;
//                 background-image: linear-gradient(90deg, map-get($value, start) 10%, map-get($value, end) 80%);      
//                 content: "";
//                 mix-blend-mode: lighten;
                
//                         }
//         }
//     }
// }




      

  



@mixin gradient-text-menu ($col-text) 
{
    
    @each $key, $value in $col-text {
        &-#{$key} {
            background-image: linear-gradient(90deg, map-get($value, start) 12%, map-get($value, end) 80%);
            color:transparent;
            background-clip: text; 
        }
          
    }
      
}