@mixin fondu-zoom {
    transform: scale(1);
    opacity: 1;
    transition: all 1s cubic-bezier(.65,.13,.2,.81);
    &:hover{
        transform: scale(1.5);
        opacity: 0.3;
    }
}
@mixin gradient-text ($col-text) 
{
    
    @each $key, $value in $col-text {
        &-#{$key}--titre{
            background-image: linear-gradient(map-get($value,start),map-get($value,end));
            color: transparent;
            background-clip: text; 
        }
          
    }
      
}
// @mixin gradient-text ($key) 
// {
    
//     @each $key, $value in $col-text {
//         &-#{$key}--titre{
//             background-image: linear-gradient(start,end);
//             color: transparent;
//             background-clip: text; 
//         }
          
//     }
      
// }