$bg-logo: rgb(0, 128, 111);
$text-logo:rgb(248, 193, 10);
$bg-note: rgb(252, 223, 219);
$bg-chic: rgb(248, 239, 244);
$bg-delice:rgb(249,249,249);
$bg-palette:rgb(253,255,253);
$color-menu-palette:rgb(114,191,86);
$color-titre-start-palette:rgb(66,151,60);
$color-titre-end-palette:rgb(191,255,126);
$color-menu-delice:rgb(8,135,251);
$color-titre-end-delice:rgb(114, 184, 245);
$color-titre-middle-delice:rgb(96, 118, 204);
$color-titre-start-delice:rgb(4,49,222);
$color-menu-chic:rgb(199,116,18);
$color-titre-end-chic:rgb(144,91,253);
$color-titre-middle-chic:rgb(202, 91, 253);
$color-titre-start-chic:rgb(216,133,46);
$color-note-start-note:rgb(241,88,97);
$color-note-end-note:rgb(247,143,106);
$color-titre-start-note:black;
$color-titre-end-note:black;

$width:30vw;
$height:$width * 1.5 ;

$media-width: 60vw;
$media-height:$media-width * 1.5;
 



