$bg-logo: rgb(0, 128, 111);
$text-logo:rgb(248, 193, 10);
$bg-note: rgb(252, 223, 219);
$bg-chic: rgb(248, 239, 244);
$bg-delice:rgb(249,249,249);
$bg-palette:rgb(253,255,253);
$color-menu-palette:rgb(114,191,86);
$color-titre-start-palette:rgb(66,151,60);
$color-titre-end-palette:rgb(191,255,126);
$color-menu-delice:rgb(8,135,251);
$color-titre-end-delice:rgb(27,145,250);
$color-titre-start-delice:rgb(4,49,222);
$color-menu-chic:rgb(199,116,18);
$color-titre-end-chic:rgb(144,91,253);
$color-titre-start-chic:rgb(216,133,46);
$color-titre-start-note:rgb(241,88,97);
$color-titre-end-note:rgb(247,143,106);


// $width:30vw;
// $height:$width * 1.5 ;
// $bg-icone-note: linear-gradient(90deg,rgba(255,0,0,0.73) 0%, rgba(213,146,34,0.8) 80%);
 



