$bg-logo: rgb(0, 128, 111);
$text-logo:rgb(248, 193, 10);
$bg-note: rgb(252, 223, 219);
$bg-chic: rgb(248, 239, 244);
$bg-delice:rgb(249,249,249);

$bg-icone-note: linear-gradient(90deg,rgba(255,0,0,0.73) 0%, rgba(213,146,34,0.8) 80%);
    // background: rgba(255,0,0,0.73);

// background: -webkit-linear-gradient(90deg,rgba(255,0,0,0.73) 0%, rgba(213,146,34,0.8) 80%);
// background: -moz-linear-gradient(90deg,rgba(255,0,0,0.73) 0%, rgba(213,146,34,0.8) 80%);

$width: 30vw;
$height:$width * 1.5 ;

